<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlnv</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<mapping class="app.dto.Audit"></mapping>
		<mapping class="app.dto.AuditHistory"></mapping>
		<mapping class="app.dto.AuthorizationTable"></mapping>
		<mapping class="app.dto.Report"></mapping>
		<mapping class="app.dto.Role"></mapping>
		<mapping class="app.dto.TimeKeeping"></mapping>
		<mapping class="app.dto.User"></mapping>
	
	</session-factory>
</hibernate-configuration>